/**
 * @name Windows-Like-Buttons
 * @author Aircraft192
 * @version 1.0.0
 * @description A theme making Windows-Buttons
*/

/*Buttons*/
.withFrame-2dL45i {
    height: 30px;
    margin-top: 4px;
}
.winButton-3UMjdg {
    position: relative;
    top: -4px;
    cursor: default;
    width: 45px;
    height: 34px;
    -webkit-app-region: no-drag;
}
.wordmarkWindows-2dq6rw {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 9px 3px;
    color: var(--text-muted);
}
.contentColumnDefault-3eyv5o {
    position: relative;
    padding: 30px 40px 80px;
}
.sidebar-nqHbhN {
    width: 218px;
    padding: 30px 6px 60px 20px;
}